results
.vscode
results/
figures/
outfiles/
data/
.DS_Store
docs/_build
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.so
.pixi/pixi.lock
pixi.lock
pixi_before.lock
overlay.png
screenshots/
temp_outputs/
test_plots/
